/* @media only screen and (max-width: 600px){ */
body{
  text-align: center;
}
body > button{
  height: 40px;
  width: 150px; 
  font-size: large;
  margin-top: -250px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
}

.container{
    background-color: rgb(131, 19, 235);
    color: white;
    text-align: center;
    padding: 1px;
    height: 60vh;
}

/* .circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
  } */

#result, #shoot {
    color: black;
    font-weight: bolder;
  }

.media-left{
  float: left;
  
  
}

.media-right{
  float: right;
}



#shoot{
  height: 40px;
  width: 150px; 
  font-size: large;
  margin-top: 150px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
}

.result{
  margin: 20px;
  text-align:center;
  font-size: 30px;
  
}


/* } */